.background {
    background-color: rgb(216, 236, 253);
    flex-direction: column;
    align-items: center;
    display: flex;
    height: auto;
    padding: 5rem;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.image {
    width: 600px;
    height: auto;
    border-radius: 10px;
}