.container {
    background-color: rgb(216, 236, 253);
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 600px;
    padding: 5rem;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 3rem;
}

.imageContainer {
    margin-top: 2rem;
}